@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    background-position: center;
    background-size: cover;
}

// NAVIGATION STYLING:

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 100;
    min-width: 100%;
    height: 55px;
    color: white;
    img {
        height: 50px;
        padding-left: 10px;
    }
}



// SECTION STYLING:
.section {
    font-size: 1em;
}


.slide:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    min-width: 100vw;
    background-color: #020887;
    overflow: hidden;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(82,58,180,1) 0%, rgb(255, 103, 174) 50%, rgba(252,176,69,1) 100%);
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
       
    }
    #scrollText {
        position: absolute;
        font-size: 5em;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        font-family: "Philosopher", sans-serif;
    }
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    bottom: 0;
    left: 0;
    height: 220px;
    min-width: 100%;
    color: #fff;
    padding: 20px;
    text-align: left;
    .footer-section {
        h3 {
            padding: 10px 0px;
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
        img {
            height: 100px;
        }
    }
}

.property-page-header {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    h1 {
        padding-top: 50px;
        font-size: 6em;
        font-family: "Philosopher", sans-serif;
    }
}

.form-container {
    position: relative;
    left: 37vw;
    margin-top: 300px;
    background-color: white;
    width: 500px;
    margin-bottom: 100px;
    border-radius: 20px;
    h2 {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #0081a7;
        padding: 10px;
        color: white;
    }
    .filter-container {
        padding: 20px 100px;
        text-align: left;
        label {
            font-size: 22px;
        }
        select {
            width: 300px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid black;
        }
        .date-box {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            .date-select {
                width: 125px;
                padding: 10px;
                margin-bottom: 20px;
                border-radius: 10px;
                border: 1px solid black;
            }
        }
        button {
            border: none;
            border-radius: 10px;
            padding: 12px 18px;
            width: 300px;
            background-color: #0081a7;
            color: white;
            font-size: 20px;
        }
        #errorMessage {
            padding: 15px 0px;
            font-size: 22px;
        }
    }
}

#results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px 60px 120px 60px;
}

.button-section {
    margin-top: 80px;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 30px;
    .back-button {
        position: absolute;
        left: 10px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        color: #fff;
        background-color: #0081a7;
        border: none;
        font-size: 20px;
        transition: all ease 0.2s;
        }
    .back-button:hover {
        cursor: pointer;
        background-color: #005f7c;
        transition: all ease 0.2s;
    }
    .sort-button-container {
        width: 70vw;
        display: flex;
        justify-content: space-evenly;
        .sort-button {
            border: none;
            border-radius: 10px;
            padding: 12px 18px;
            width: 300px;
            background-color: #0081a7;
            color: white;
            transition: all ease 0.2s;
        }
        .sort-button:hover {
            cursor: pointer;
            background-color: #005f7c;
            transition: all ease 0.2s;
        }
    }

}

#toProperties {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    background-color: #0081a7;
    border: none;
    font-size: 20px;
    transition: all ease 0.2s;
    margin: 80px 20px 20px 20px;
}

#toProperties:hover {
    cursor: pointer;
    background-color: #005f7c;
    transition: all ease 0.2s;
}


.property-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.25);
    img {
        width: 100%;
        height: 50%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .card-info {
        margin: 20px;
        h2 {
            font-size: 20px;
        }
        h4 {
            color: #0081a7;
        }

    }
    .card-bottom {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 10px 10px 10px 30px;
        background-color: #e0e0e0;
        margin-top: 90px;
        color: #ECA72C;
        letter-spacing: 1px;
    }
}

.property-card:hover {
    cursor: pointer;
    }


.details {
    margin: 20px 100px;
    h1 {
        font-size: 5em;
        padding: 20px 0px;
    }
    h4 {
        color: #0081a7;
        padding: 10px 0px;
    }
    .description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
            width: 70%;
            font-size: 20px;
        }
        .beach-details {
            margin-right: 50px;
            height: 200px;
            background-color: #e8e8e8;
            padding: 20px;
            border-radius: 20px;
            width: 250px;
            h5 {
                font-size: 20px;
            }
            p {
                margin-top: 10px;
                font-size: 18px;
                i {
                    color: #0081a7;
                }
            }
        }
    } 
    img {
        width: 100%;
    }
    h3 {
        font-size: 3em;
        margin-top: 50px;
        text-align: center;
    }
    .cost-container {
        display: flex;
        justify-content: center;
        font-size: 20px;
        div {
            margin: 20px 40px;
            h5 {
                font-size: 24px;
            }
            
        }
        .calculate {
            display: flex;
            flex-direction: column;
            text-align: center;
            button {
                padding: 12px 18px;
                border: none;
                background-color: #0081a7;
                color: #fff;
                border-radius: 10px;
            }
        }
    }
    .details-buttons-container {
        margin: 20px 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .square-button {
            margin: 0px 20px;
            color: #fff;
            background-color: #0081a7;
            text-decoration: none;
            padding: 12px 18px;
            border-radius: 10px;
        }
        .icon {
            margin: 0px 40px;
            color: #0081a7;
            font-size: 36px;
        }
    }
}



#map {
    width: 50%;
    height: 400px;
    margin-left: 25%;
}


/* Swiper */

.swiper {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 70%;
    height: 800px;
    margin-top: 50px;
}

.swiper-pagination-clickable {
    padding: 4px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 16px;
}

.swiper-pagination-bullet {
    background: #0081a7;
}

.swiper-pagination-bullet-active {
    width: 17px;
    height: 17px;
    background: #0081a7;
}
/* END SWIPER */